* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #0a2342;
  --text: #000205;
  --textLight: #fff;
  --accent1: #eb5e55;
  --accent2: #ffec5d;
  --white: #faf8d4;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main);
  color: var(--text);
}