* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #0a2342;
  --text: #000205;
  --textLight: #fff;
  --accent1: #eb5e55;
  --accent2: #ffec5d;
  --white: #faf8d4;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white);
  color: var(--text);
}

#page {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: 100vh;
  width: 100%;
}

/* sidebar/header */

header {
  background: var(--main);
  color: var(--textLight);
  padding: 30px;
  min-width: 475px;
  max-width: 576px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.about {
  text-align: right;
}

.contact {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}

.contact li:nth-child(n+1) {
  margin-left: 10px;
}

/* end of sidebar/header */

/* main */

main {
  padding: 20px;
}

/* end of main */

/* media queries */

@media only screen and (max-width: 768px) {
  #page {
    align-items: flex-start;
  }
  header, main {
    min-width: 100%;
  }
  header {
    align-items: center;
  }
  .about {
    text-align: center;
  }
  .headshot {
    display: none;
  }
}